/* HEADER INICIO */

#navHeader .container{
	margin-top: 20px;
	align-items: baseline;
	justify-content: space-between;
	align-items: baseline;
}

.menuFinder{
	display: flex;
	align-items: baseline;
}

.menuLogo{
	margin-right: 50px;
	position: relative;
}

.menuLogo i{
	position: absolute;
    top: 8px;
    left: -30px;
    padding: 1px 3px 1px 3px;
    border-radius: 50%;
    font-size: 20px;
	cursor: pointer;
    background: var(--primary-color);
}
.menuLogo p{
	font-size: 26px;
	font-weight: 400;
}

.menu ul{
	display: flex;
	font-weight: 300;
}

.menu ul :nth-child(1){
	opacity: 20%;
    margin-right: 15px;
}

.menu ul li{
	margin: 0 25px 0 0;
	cursor: pointer;
}

.menuLogin :nth-child(1){
	margin-right: 15px;
	font-weight: 300;
	font-style: normal;
}

#sellButton i{
	padding: 10px 30px;
	border-radius: 5px;
	background: var(--primary-color);
	font-weight: 400;
}

/* HEADER FIM */

/* FOOTER INICIO */
footer h3{
	margin-bottom: 10px;
}

footer h2{
	margin-bottom: 10px;
}

footer a{
	margin-bottom: 5px;
	opacity: 0.5;
}

.p-footer{
font-size: 15px;
}

.container-footer {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 30px;
}

/*nao utilizado*/
.link-content-head{
	margin-top: -25px;
	margin-bottom: 40px;
}

.divider{
	position: absolute;
	height: 0px;
	left: 0%;
	right: 0%;
	top: 130px;
	opacity: 0.15;
	border: 1px solid #FFFFFF;
}


.link-content{
  display: flex;
  justify-content: space-around;
  align-items: right;
	margin: 0 0 0 20vh;
}

.link-content-mid{
	display: flex;
  justify-content: space-around;
  align-items: right;
	margin-left: 40px ;
}

.footer-links-news{
	display: grid;
  text-align: left;
	height: 142px;
	width: auto;
	max-width: auto;
}

.footer-links-news a{
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}

.footer-links-news a:hover{
  color: rgba(131, 131, 131, 0.933)
}

.footer-links-mid{
	display: grid;
  text-align: left;
	margin: 50px 10px 50px 10px ;
	top: 0%;
	height: 142px;
	width: 190px;
}

.footer-links-mid a{
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}

.footer-links-mid a:hover{
  color: rgba(131, 131, 131, 0.933)
}

.footer-links{
  display: grid;
  text-align: left;
	justify-content: space-around;
	margin-right: 10px;
}

.footer-links a{
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}

.footer-links a:hover{
  color: rgba(131, 131, 131, 0.933)
}

.footer-links-adress{
	display: grid;
  text-align: left;
	height: 142px;
	width: 250px;
}

.footer-links-adress a{
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}

.footer-links-adress a:hover{
  color: rgba(131, 131, 131, 0.933)
}

.footer-links-adress button{
  width: 32px;
	height: 32px;
	background: #FFFFFF;
	box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
	border-radius: 50%;
}

footer{
	height: 458px;
  padding: 40px;
  color: #fff;
  text-align: center;
	background: linear-gradient(0deg, rgba(69, 64, 86, 0.2), rgba(69, 64, 86, 0.2)), #1F1B2D;
}

.form-footer {
  display:flex;
  flex-direction:row;
  background: rgba(255, 255, 255, 0.04);
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 8px;
  padding:2px;
	width: 306px;
	height: 42px;
	left: 312px;
	top: 223px;
}

.input-footer {
  flex-grow:2;
	border:none;
	background: rgba(255, 255, 255, 0.04);
	color: #fff;
}

.form-footer input:focus {
  outline: none;
}

.button-footer {
width: 36px;
height: 36px;
border:none;
background: #FD5631;
border-radius: 6px;
}

.link-button{
	border:none;
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.04);
	opacity: 0.5;
}
.link-button:last-child{
	background: #fff;
	opacity: 1;
}

.mail-footer{
font-size: 15px;
}

.bi-messenger{
color: #FD5631;
}
.bi{
	
	z-index: 333;
}

/* FOOTER FIM */