/* HEADER INICIO */

#navHeader .container {
	margin-top: 20px;
	align-items: baseline;
	justify-content: space-between;
	align-items: baseline;
}

.menuFinder {
	display: flex;
	align-items: baseline;
}

.menuLogo {
	margin-right: 50px;
	position: relative;
}

.menuLogo i {
	position: absolute;
	top: 8px;
	left: -30px;
	padding: 1px 3px 1px 3px;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
	background: var(--primary-color);
}

.menuLogo p {
	font-size: 26px;
	font-weight: 400;
}

.menu ul {
	display: flex;
	font-weight: 300;
}

.menu ul :nth-child(1) {
	opacity: 20%;
	margin-right: 15px;
}

.menu ul li {
	margin: 0 25px 0 0;
	cursor: pointer;
}

.menuLogin :nth-child(1) {
	margin-right: 15px;
	font-weight: 300;
	font-style: normal;
}

#sellButton i {
	padding: 10px 30px;
	border-radius: 5px;
	background: var(--primary-color);
	font-weight: 400;
}

.initial {
	display: flex;
	height: 30vh;
	width: 100%;
	margin-top: 120px;
}

.textHeader {}

.textHeader h1 {
	font-size: 56px;
	width: 526px;
	font-weight: 700;
}

.textHeader p {
	font-weight: 400;
	opacity: 0.7;
	width: 416px;
	font-size: 18px;
	margin-top: 32px;
}

#sectionHeader {
	position: relative;
}

#imgShape {
	width: 100%;
	position: absolute;
	/* top: -293px; */
	bottom: -25px;
	transform: rotate(2deg);
}

#imgMainCar{
	z-index: 1;
}

/* HEADER FIM */