@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
:root{
	--primary-color: #FD5631;
	--accent-color: #5D3CF2;
	--success-color: #07C98B;
	--danger-color: #F23C49;
	--warning-color: #FDBC31;
	--info-color: #3C76F2;
	--black-color: #000000;
	--gradient-color: linear-gradient(26.21deg, #5D3CF2 0%, #FD5631 108.88%);
	--background-shadow: #C4C4C4;
	--box-shadow-dafault: 0px 2px 8px -4px rgba(31, 27, 45, 0.12), 0px 4px 16px rgba(31, 27, 45, 0.12);
	--box-shadow-small: 0px 2px 2px -2px rgba(31, 27, 45, 0.08), 0px 4px 12px rgba(31, 27, 45, 0.08);
	--box-shadow-large: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Noto Sans', 'sans-serif';
	color: #FFF;
	background: #1F1B2D;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

