@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
	/* Colors */
	--primary-color: #FD5631;
	--accent-color: #5D3CF2;
	--success-color: #07C98B;
	--danger-color: #F23C49;
	--warning-color: #FDBC31;
	--info-color: #3C76F2;
	--black-color: #000000;
	--white-color: #FFFF;
	--gray-900: #1F1B2D;
	--gray-800: #454056;
	--gray-700: #666276;
	--gray-600: #9691A4;
	--gray-500: #BBB7C5;
	--gray-400: #D5D2DC;
	--gray-300: #EFECF3;
	--gray-200: #F5F4F8;
	--gray-100: #F9F8FA;

	/* Gradients */
	--gradient-color: linear-gradient(26.21deg, #5D3CF2 0%, #FD5631 108.88%);

	/* Shadows */
	--background-shadow: #C4C4C4;
	--box-shadow-dafault: 0px 2px 8px -4px rgba(31, 27, 45, 0.12), 0px 4px 16px rgba(31, 27, 45, 0.12);
	--box-shadow-small: 0px 2px 2px -2px rgba(31, 27, 45, 0.08), 0px 4px 12px rgba(31, 27, 45, 0.08);
	--box-shadow-large: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Noto Sans', 'sans-serif';
	font-size: 1.6rem;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	color: var(--white-color);
	background: var(--gray-900);
	/* font-size: 16px; */
}

.container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem;
}

@media (min-width: 768px) {
	
	.hidden-when-md {
	  display: flex !important;
	}
	.display-when-md {
	  display: none !important;
	}
  }
  @media (max-width: 768px) {
	.hidden-when-md {
	  display: none !important;
	}
	.display-when-md {
	  display: flex !important;
	}
  }
  @media (min-width: 992px) {
	.hidden-when-lg {
	  display: flex !important;
	}
	.display-when-lg {
	  display: none !important;
	}
  }
  @media (max-width: 992px) {
	.hidden-when-lg {
	  display: none !important;
	}
	.display-when-lg {
		display: flex !important;
	}
}